.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}

.circle{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin: 20px;
}

.container button {
    cursor: pointer;
}